name: Build ORGPAL_PALX

on:
  workflow_dispatch

jobs:
  build_ORGPALX:
    runs-on: windows-latest

    env:
      TARGET_NAME: 'ORGPAL_PALX'

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: 'orgpal-palx'

    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Install arm-none-eabi-gcc
      uses: carlosperate/arm-none-eabi-gcc-action@v1
      with:
        release: '11.3.Rel1'
        path-env-var: ARM_NONE_EABI_GCC_PATH

    - name: Tweak GCC path
      run: |
        $currentPath = "$env:ARM_NONE_EABI_GCC_PATH"
        if($currentPath.EndsWith("bin"))
        {
          $fixedPath = $currentPath.Replace("\bin", "")
          
          echo "ARM_NONE_EABI_GCC_PATH=$fixedPath" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
        }

    - name: Tweak PATH to reach cmd
      run: echo "C:\Windows\System32" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Set version
      run: nbgv cloud -a -c

    - name: Compose CMakeUserPresets
      run: |
        $file = "CMakeUserPresets.json"

        Rename-Item -Path "CMakeUserPresets.TEMPLATE.json" -NewName $file
        
        $filecontent = Get-Content($file)
        attrib $file -r
        $filecontent -replace  'Debug', 'MinSizeRel' | Out-File $file -Encoding UTF8

        [regex]$pattern='user-local-tools'
        $pattern.replace([IO.File]::ReadAllText($file), 'user-local-tools-dummy', 1) | Out-File $file -Encoding UTF8

        $filecontent = Get-Content($file)
        $filecontent -replace  'user-local-tools-cloud', 'user-local-tools' | Out-File $file -Encoding UTF8

    - name: Build with CMake
      run: |
        cmake -B build --preset ${{ env.TARGET_NAME }} -DTOOLCHAIN_PREFIX='${{env.ARM_NONE_EABI_GCC_PATH}}' -DCMAKE_BUILD_TYPE=MinSizeRel -DBUILD_VERSION='${{env.NBGV_VersionMajor}}.${{env.NBGV_VersionMinor}}.${{env.NBGV_BuildNumber}}.${{env.NBGV_VersionHeight}}' -DTARGET_BOARD=${{ env.TARGET_NAME }} -DTARGET_NAME=${{ env.TARGET_NAME }}
        cmake --build ${{ github.workspace }}/build --target all
      working-directory: ${{ github.workspace }}

    - uses: actions/upload-artifact@v3
      with:
        name: '${{ env.TARGET_NAME }}-v${{env.NBGV_VersionMajor}}.${{env.NBGV_VersionMinor}}.${{env.NBGV_BuildNumber}}.${{env.NBGV_VersionHeight}}'
        path: |
          ${{ github.workspace }}/build/*.bin
          ${{ github.workspace }}/build/*.hex
